html,
body {
  margin: 0;
  padding: 0;
}

.navigationBar.shrink {
  padding: 0px;
}

h2 {
  font-size: 25px;
  background: linear-gradient(to right, #bc429d, #738cd0);
  padding: 15px;
  border-radius: 999px;
  background: linear-gradient(-45deg, #bc429d, #738cd0);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

.navigationBar {
  background-color: #344966;
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: space-evenly;
  font-family: Poppins, Helvetica, sans-serif;
  transition: height 0.3s ease, padding 0.3s ease;
}

.title {
  color: white;
  font-size: 40px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.first {
  background-color: #dee2ff;
  margin: 0px;
  padding: 30px;
  font-family: Poppins, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}

.second {
  background-color: #feeafa;
  margin: 0px;
  padding: 25px;
  font-family: Poppins, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  background-color: #7e93c9;
  padding: 10px;
  font-family: Poppins, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
  padding: 30px;
  font-size: 12px;
}

.footer * {
  margin: 0;
}

a,
button {
  transition: all 0.5s ease;
}

a:hover,
button:hover {
  color: #6e90ac;
  text-decoration: underline;
  transform: scale(1.02);
}

.linky {
  color: black;
  font-size: 12px;
  text-decoration: underline;
}

.fourth {
  color: #7e93c9;
}

.and {
  padding: 20px;
}

.or {
  padding: 20px;
}

.as {
  padding: 20px;
}